<template>
    <div>
        <div class="holder">
            <div class="markdown-body">
                <slot></slot>
            </div>
        </div>
    </div>
</template>

<style lang='scss' scoped>

    .holder {
        position: relative;
        width: 100%;
        display: block;
        font-family: Roboto, sans-serif;
        box-sizing: border-box;

        .markdown-body {
            section {
                margin: auto;
                width: 600px;
            }

        }
    }

    .mobile {
        .holder {
            padding-bottom: 100px;

            .markdown-body {
                section {
                    margin: auto;
                    width: auto;
                }
            }
        }
    }
</style>

<script lang='ts'>
	import {Component, Vue} from 'vue-property-decorator';

	@Component({})
	export default class MarkdownHolder extends Vue {

	}
</script>
