<template>
    <div class="nav-bar">
        <div class="basic">
            <router-link class='top-level' to="/">Essays</router-link>
            <a class='top-level' href="https://kirinnee.dev" target="_blank">About Me</a>
            <hr>
            <div class="post-holder">
                <Post class='posts' v-for="(e, index) in Essay" :key=index :essay=e></Post>
            </div>
        </div>
    </div>
</template>

<style lang='scss' scoped>
    .basic {
        position: relative;
        height: 100%;

        .top-level {
            display: block;
            padding: 4px 10px;
        }

        .post-holder {
            position: relative;
            height: 90%;
            overflow-y: auto;
        }

        a {
            font-family: Roboto, sans-serif;
            box-sizing: border-box;
            font-size: 16px;
            padding: 0 10px;
            color: black;
        }
    }

    .mobile {
        .basic {
            .top-level {
                display: inline;
            }

            .posts {
                display: none;
            }
        }
    }
</style>

<script lang='ts'>
	import {Component, Vue} from 'vue-property-decorator';
	import Post from "./Post.vue";
	import {Essay} from "../class/Essay";
	import {essays} from "../init";

	@Component({
		components: {Post}
	})
	export default class NavBar extends Vue {
		Essay: Essay[] = essays;
	}
</script>
