<template>
    <router-link class="link" :to="to">
        <div class="meta">
            <div class="date">{{date}}</div>
            <div class="tag">{{tag}}</div>
        </div>
        <div class="title">{{title}}</div>
    </router-link>
</template>

<style lang='scss' scoped>
    div a.link {
        text-decoration: none;
        color: black;
        display: flex;
        align-items: center;
        font-family: Roboto, sans-serif;
        padding: 5px 0;
        border-bottom: 1px solid #00000020;
    }

    .date {
        font-size: 12px;
        position: relative;
        color: darkcyan;
        text-align: center;
    }

    .meta {
        position: relative;
        text-align: center;
        box-sizing: border-box;
        padding-right: 10px;
    }

    .title {
        font-size: 16px;
    }

    .tag {
        color: darkred;
        font-size: 12px;
    }
</style>

<script lang='ts'>
	import {Component, Vue} from 'vue-property-decorator';
	import {Essay} from "../class/Essay";

	@Component({
		props: {
			essay: Essay
		}
	})
	export default class Post extends Vue {
		private essay!: Essay;

		get to(): string {
			return this.essay.Markdown;
		}

		get title(): string {
			return this.essay.Title;
		}

		get date(): string {
			return this.essay.Date;
		}

		get tag(): string {
			return this.essay.Tag;
		}
	}
</script>
