<template>
    <div>
        <div class="into">
            This is a collection of essays I have written on either software or Anime.
            <hr>
        </div>
        <div class="post-holder">
            <Post class='p' v-for="(e, index) in Essay" :key=index :essay=e></Post>
        </div>
    </div>
</template>

<style lang='scss' scoped>
    .post-holder {
        display: flex;
        flex-wrap: wrap;
    }

    .p {
        width: 300px;
        margin: 20px 80px;
    }
</style>

<script lang='ts'>
	import {Component, Vue} from 'vue-property-decorator';
	import {Essay} from "../class/Essay";
	import {essays} from "../init";
	import Post from "../components/Post.vue";

	@Component({
		components: {Post}
	})
	export default class Essays extends Vue {
		Essay: Essay[] = essays;
	}
</script>
