<template>
    <div class="top">
        <NavBar id="nav"></NavBar>

        <MarkdownHolder id="blog">
            <h1 class="header">{{Title}} <span>{{Subtitle}}</span></h1>
            <router-view/>
        </MarkdownHolder>
    </div>
</template>

<style lang="scss" scoped>
    .top {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        display: flex;
        position: relative;
        background: #ebf5ff;
    }

    #nav {
        position: relative;
        box-sizing: border-box;
        width: 260px;
        min-width: 260px;
        height: 100%;
        padding: 10px;
        border-right: 1px solid white;
    }

    .header {
        font-family: Roboto, sans-serif;
        font-size: 30px;

        span {
            font-size: 12px;
            color: grey;
            font-style: oblique;
        }
    }

    #blog {
        position: relative;
        height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;
        width: 100%;
    }

    .mobile {
        .top {
            display: block;
        }

        #nav {
            width: 100%;
            min-width: 100%;
            height: auto;
            padding: 10px;
            border-right: none;
        }

        #blog {
            height: 100%;
        }
    }
</style>

<script lang="ts">
	import {Component, Vue, Watch} from 'vue-property-decorator';
	import NavBar from './components/NavBar.vue';
	import MarkdownHolder from "./components/MarkdownHolder.vue";
	import {essayMap} from "./router";
	import {Essay} from "./class/Essay";

	@Component({
		components: {
			MarkdownHolder,
			NavBar,
		}
	})

	export default class App extends Vue {
		private title: string = "";
		private subtitle: string = "";

		@Watch('$route', {immediate: true, deep: true})
		onUrlChange(newVal: any) {
			const essay: Essay = essayMap[newVal.name] || Essay.EMPTY;
			this.title = essay.Title;
			this.subtitle = essay.DateFull;
		}

		get Title(): string {
			return this.title;
		}

		get Subtitle(): string {
			return this.subtitle;
		}
	}
</script>
