body, #app {
	background-color: white;
	margin: 0;
	overflow: hidden;
}


a {
	text-decoration: none;
}

h1 {
	font-size: 24px;
}

h2 {
	font-size: 20px;
}

h3 {
	font-size: 16px;
}

.markdown-body {
	box-sizing: border-box;
	width: 100%;
	position: relative;
	padding: 20px;
	border-radius: 5px;
	font-family: Roboto, sans-serif;

	pre {
		padding: 20px;
		background: #00000010;
	}

	a {
		text-decoration: underline;
	}

	.b-flex {
		display: flex;
		align-items: center;

		* {
			margin-right: 20px;
		}
	}


}
